.header-container {
  height: 100vh;
}

.header {
  margin-top: 20px;
}

.header-contact__list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header-contact__item {
  & + & {margin-left: 24px;}
}

.header-contact__svg {
  width: 24px;
  height: 24px;
  fill: $accent;

  &:hover, &:focus {
    transform: scale(1.2);
  }
}

.close-mobile-menu {
  margin-bottom: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: $white;
  width: 40px;
  height: 40px;
  &:hover,
  &:focus {
    border-radius: 50px;
    background-color: $accent;
  }
}


.close__svg {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  fill: $white;
  
}

.navigation.is-open {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  visibility: visible;
  opacity: 1;
}



.navigation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 30px 30px;;
}

.navigation__list {
  margin-bottom: 50px;
}

.navigation__item {
  & + & {
    margin-top: 10px;
  }
}

.navigation__link {
  font-size: 45px;
  color: $white;
  padding: 6px 10px;
  &:hover, &:focus {
    border-radius: 15px;
    background-color: $accent;
  }
}

.mobile-type-menu{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.open-menu-button {
  border: none;
  background-color: transparent;
  color: $white;
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
  width: 80px;

  &:hover, &:focus {
    border-radius: 15px;
    background-color: $accent;
  }
}

.address-mobile-menu {
  display: block;
  color: $white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;

  &:hover,
    &:focus {
      border-radius: 15px;
      background-color: $accent;
    }
}

.contact__link {
  color: $white;
  font-weight: 700;
  font-size: 24px;
  margin-right: 10px;
  padding: 3.6px 10px;
  
  &:hover, &:focus {
    border-radius: 15px;
    background-color: $accent;
  }
  
}

.hero {
  border-top: 3px solid $accent;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.hero__bmw-image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
  height: auto;
  transition: 250ms linear;
  &:hover, &:focus {
    transform: scale(1.1);
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  max-width: 360px;
  letter-spacing: 0.2em;
  // text-shadow: 0 0 10px $accent;
}

.hero__title-accent {
  font-family: $paci;
  font-size: 42px;
  letter-spacing: 0.11em;
}

.hero__button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border: none;
  background-color: $accent;
  border-radius: 15px;
  color: $white;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0 0 10px $accent;
  transition: 250ms linear;

  &hover, &:focus {
    background-color: $white;
    color: $accent;
  }
}

.hero__button-link {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 50;
  height: 50;
  border-radius: 50px;
  border: 4px solid $white;

  &:hover, &:focus {
    border-color: $accent;
  }
}

.hero__button-link-svg {
  margin-top: 3px;
  width: 35px;
  height: 35px;
  fill: $white;

  &:hover,
    &:focus {
      fill: $accent;
    }
}

.hero__button-link-icon {}