$mont:'Montserrat',sans-serif;
$paci: 'Pacifico',cursive;

$black: #0D0E0E;
$white: #ffffff;
$accent: #f31300;

html {
  box-sizing: border-box;
  font-size: 16px;
}
a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


body {
  font-family: $mont;
  color: $white;
  background-color: $black;
  max-width: 1400px;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
}

@import './common';
@import './hero';

