<header class="container">
  <div class="header">
    <ul class="header-contact__list">
      <li class="header-contact__item"><a class="header-contact__link" href=""><svg class="header-contact__svg">
            <use class="header-contact__icon" href="./images/icons.svg#instagram"></use>
          </svg></a></li>
      <li class="header-contact__item"><a class="header-contact__link" href=""><svg class="header-contact__svg">
            <use class="header-contact__icon" href="./images/icons.svg#facebook"></use>
          </svg></a></li>
      <li class="header-contact__item"><a class="header-contact__link" href=""><svg class="header-contact__svg">
            <use class="header-contact__icon" href="./images/icons.svg#whatsapp"></use>
          </svg></a></li>
    </ul>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item"><a class="navigation__link" href="">Роботи</a></li>
        <li class="navigation__item"><a class="navigation__link" href="">Послуги</a></li>
        <li class="navigation__item"><a class="navigation__link" href="">Послуги</a></li>
        <li class="navigation__item"><a class="navigation__link" href="">Контакти</a></li>
      </ul>
    </nav>

    <div class="mobile-type-menu">
      <button class="open-menu-button" type="button">МЕНЮ</button>
      <a class="contact__link" href="tel:+48555555555">+48 575 138 491</a>
    </div>

  </div>



  <section class="hero">


    <h1 class="hero__title">DETAILING BY<br><span class="hero__title-accent">Semenov</span></h1>

    <img class="hero__bmw-image" src="./images/bmw-hero.png" alt="bmw-e60">



    <button class="hero__button" type="button">Залишити заявку на консультацію</button>



    <a class="hero__button-link" href=""><svg class="hero__button-link-svg">
        <use class="hero__button-link-icon"></use>
      </svg></a>
  </section>
</header>